version: '3.8'

services:
  backend:
    container_name: circuit-backend
    image: circuit-backend:latest
    build: .
    ports:
      - "3000:3000"    # Express
      - "8181:8181"    # WebSocket #1
      - "8282:8282"    # WebSocket #2
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=node_user
      - DB_PASSWORD=Admin123!
      - DB_NAME=Project_circuit
    command: ["node", "src/server.js"]
    depends_on:
      - db
    restart: unless-stopped

  db:
    container_name: circuit-db
    image: mysql:latest
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: Project_circuit
      MYSQL_USER: node_user
      MYSQL_PASSWORD: Admin123!
      TZ: Asia/Bangkok  # ✅ กำหนดโซนเวลาให้เป็น Asia/Bangkok
    command: ["mysqld", "--default-time-zone=+07:00"]  # ✅ บังคับให้ MySQL ใช้โซนเวลา
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
